<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-mantenimiento-tablas-maestras-heading" jhiTranslate="requerimiento14App.mantenimientoTablasMaestras.home.createOrEditLabel">Create or edit a Mantenimiento Tablas Maestras</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="requerimiento14App.mantenimientoTablasMaestras.tecnicaEvaluativa" for="field_tecnicaEvaluativa">Tecnica Evaluativa</label>
                    <input type="text" class="form-control" name="tecnicaEvaluativa" id="field_tecnicaEvaluativa"
                           formControlName="tecnicaEvaluativa"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="requerimiento14App.mantenimientoTablasMaestras.operaciones" for="field_operaciones">Operaciones</label>
                    <select class="form-control" id="field_operaciones" name="operaciones" formControlName="operaciones">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="editarRegistrarFuenteOption.id === editForm.get('operaciones')!.value?.id ? editForm.get('operaciones')!.value : editarRegistrarFuenteOption" *ngFor="let editarRegistrarFuenteOption of editarregistrarfuentes; trackBy: trackById">{{ editarRegistrarFuenteOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
